* { 
    border: 1px solid red;
}
html{
    height: 100%;
}

body {
    font-family: 'Gowun Batang', serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    height: 100%
}
body>header{
    padding: 0 25%;
}
main{
    flex: 1;
}
.profile {
    /* width: 50%;
    margin: 0 auto; */
    /* padding: 0 25%;
    display: block; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.profile-wrap{
    display:flex;
}
.profile-image{
    width: 181.44px;
    height: 241.92px;
    float: left;
}
.profile-contents{
    /* padding: 0 0 0 5%; */
    padding-left: 5%;
}
.profile-contents p{
    font-size: 0.8em;
}

footer{
    height: 50px;
    background-color: rgba(113, 105, 91, 0.347);
    display:flex;
    /* justify-content: center; */
    justify-content: space-around;
    /* padding: 0 20%; */
}
footer>div{
    width: 500px;
}
.f-left{
    
}
.f-right{
}
