* { 
    /* border: 1px solid red; */
}
html{
    height: 100%;
}

body {
    font-family: 'Gowun Batang', serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    height: 100%
}
body>header{
    padding: 0 25%;
}
body>header h2{
    margin: 0;
}
main{
    flex: 1;
}

.profile {
    /* width: 50%;
    margin: 0 auto; */
    /* padding: 0 25%;
    display: block; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.profile hr{
    width: 70%
}

.profile-wrap{
    width: 60%
}
.profile-contents{
    display: flex;
    margin: 5% 0;
}
.profile-image{
    flex: 1;
    float: left;
    margin: auto;
}
.profile-image img{
    width: 100%;
}
.profile-text{
    flex: 3;
    /* padding: 0 0 0 5%; */
    padding-left: 5%;
}
.profile-text p{
    font-size: 0.8em;
}

footer{
    height: 40px;
    background-color: rgba(113, 105, 91, 0.347);
    display:flex;
    /* justify-content: center; */
    justify-content: space-around;
    /* padding: 0 20%; */
}
footer>div{
    width: 30%;
    font-size: 0.5em;
    
}
.f-left{
    /* font-size: 0.5em; */
}
.f-right{
    /* font-size: 0.5em; */
}
